{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ModelTermPapers.com Custom Term Paper Writing Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Term papers, essays and book reports custom written for freshman and sophomore college students.">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.min.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body> 
        
      <section class="hero hello-cover is-fullheight">
        <div class="is-relative">
          <nav class="navbar px-3 py-4" style="background-color: transparent;">
            <div class="navbar-brand">
              <a class="navbar-item is-hidden-touch" href="#">
                <img class="image is-fullheight" src="{% static 'images/modeltermpaper-logo.svg' %}" alt="ModelTermPapers Logo" width="180px" height="200px">
              </a>
              <a class="navbar-item is-hidden-desktop" href="#">
                <img class="image" src="{% static 'images/modeltermpaper-logo.svg' %}" alt="ModelTermPapers Logo" width="180px" height="200px">
              </a>
              <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div class="navbar-menu">
              <div class="navbar-end"><a class="navbar-item" href="#">About</a><a class="navbar-item" href="#">Services</a><a class="navbar-item" href="#">Guarantees</a><a class="navbar-item" href="#">Term Papers</a><a class="navbar-item" href="#">Prices</a></div>
              <div class="navbar-item"><a class="button is-danger" href="#">Order</a></div>
            </div>
          </div>
          </nav> 
          <div class="container hero-body"> 
              <div class="columns is-centered">
                <div class="column glass-box2 is-8 m-auto has-text-centered"> 
                <div class="header-text px-2">
                  <h2 class="has-text-white p-4 is-size-3-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold">ModelTermPapers.com</h2>
                  <p class="has-text-grey-lighter">Term Papers, Essays, Discussion Posts and Research Papers - Custom Written. Have our writers show you how its done.</p>
                  <div class="buttons is-centered p-5"><a class="button is-info" href="">Order Paper Now!</a></div> 
                </div>
                </div>  
            </div> 
            </div>
            <div class="head-wave">
              <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                  <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                  <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                  <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
              </svg>
          </div>
      </section>   
 
      


      <section class="section extrabody is-medium">
        <div class="container pb-6">
          <div class="is-vcentered columns is-multiline">
            <div class="column is-6 pb-6">  
              <img class="image is-fullwidth home-image3" src="{% static 'images/excited-girl-computer-black-white.png' %}" alt="Excited Girl on Computer">
            </div>
            <div class="column is-6 ml-auto pb-6 p-6">
              <h2 class="has-text-dark mb-4 is-size-1-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold">Term Paper Help is Here!</h2>
              <p class="mt-2 has-text-warning has-text-weight-bold">Helping you get the best grade possible with our term paper writing!</p>
              <p class="mt-2 has-text-grey-lighter pb-5">ModelTermPapers.com knows that term paper writing and essay composition is extermely difficult. English 101 and many early college courses require term papers weekly. Too busy? Don't understand what the professor wants for an essay or book report? We can help by writing you a custom term paper, written exactly according to the instructions you give us.</p>
              <div class="buttons mt-4"><a class="button is-dark is-outlined p-4" href="">Order Now!</a>
                </div>
              </div> 
          </div>
        </div>
      </section>
      <section class="wave-container">
        <div class="wave"></div>
      </section>
        

      <section class="section has-background-primary is-medium">
        <div class="container pb-6">
          <div class="is-vcentered columns is-multiline">
            <div class="column is-6 pb-6">
              <h2 class="has-text-success pt-6 mb-4 is-size-1-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold">Term Papers, Essays, Discussion Posts and Research Papers!</h2>
              <p class="has-text-grey-lighter">Is it a Shakespeare explication that has you worried? Don't understand MLA format or how to cite an internet source in a term paper?</p> 
                  <p class="mt-3 has-text-warning"><b>We are the experts in term paper writing!</b></p>
                    <p class="has-text-grey-lighter mt-3">For 20+ years we have been producing custom term papers and we know what is required to fulfill a professor's expectations. Don't chance your grade or academic career with other "cut and paste" term companies. Trust only a company that guarantees all our term papers.</p>
                    <p class="has-text-grey-lighter mt-3 mb-5">It's that easy! Providing you with accurate, up to date research written only for you, never republished or posted to the internet and never been sold before.</p>
                    <a class="button is-success is-outlined " href="#">Custom Term Papers</a>
            </div>
            <div class="column is-6 ml-auto pb-6"> 
              <div class="p-6 pb-5">
              <img class="image is-fullwidth home-image" src="{% static 'images/expert-writer.png' %}" alt="Expert Writer">
             </div>
            </div>
          </div>
        </div>
      </section> 

      <section class="wave-container2">
        <div class="wave2"></div>
      </section>

      <section class="section has-background-dark is-medium">
        <div class="container pb-6">
          <div class="is-vcentered columns is-multiline">
            <div class="column is-6 pb-6"> 
              <div class="p-6">
              <img class="image is-fullwidth home-image2" src="{% static 'images/helpful-writers.png' %}" alt="Woman Typing on Computer">
            </div>
            </div>
            <div class="column is-6 ml-auto pb-6">
              <h2 class="has-text-warning mb-4 is-size-1-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold">Our Writers are Here for You!</h2>
              <p class="mt-2 pb-2 has-text-success"><b>ModelTermPapers.com</b> has over 60 academic freelance writers available for any type of project you need. We hold strict standards for our writers of college level term paper projects. All writers have the following:</p>
                <span class="has-text-grey-lighter px-2">
                  <li>At least a bacholor's degree (many have Master's degrees)</li>
                  <li>Native english speaking</li>
                  <li>Experts in MLA, APA and various citation formats</li>
                </span>
                <div class="buttons mt-4"><a class="button is-warning is-outlined p-4" href="#">Get a Writer!</a>
                </div>
              </div> 
              
          </div>
        </div>
      </section>

      <section class="wave-container3">
        <div class="wave3"></div>
      </section>

      
      <section class="has-background-danger is-large">
        <div class="container pb-6">
          <div class="columns is-multiline is-centered">
            <div class="column is-9 mb-6">
              <div class="p-4 pt-6 pb-6">
              <h2 class="has-text-dark pt-6 mb-6 is-size-2-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold has-text-centered">A custom term paper site devoted to your special needs as college students!</h2>
              <div class="has-text-warning mb-3 px-2 ml-5 mb-3"> 
                  <li>Term Papers written in straight-forward language, appropriate for college level academics.</li>
                  <li>Quality, up to date resources with original ideas.</li>
                  <li>Academic writing professionals write your paper and give you a model to learn by.</li>
                  <li>Full bibliography and references are included free.</li> 
              </div>
            </div>
            <div class="buttons is-centered pt-5"><a class="button is-dark is-medium" href="#">Order Today!</a></div>
              </div>
          </div>   

<div class="section pb-2 mb-5 mt-6">
        <div class="container is-relative">
          <div class="columns is-multiline">
            <div class="column is-4 mb-4">
              <div class="box p-6 has-background-success" style="height: 100%">
                <h4 class="is-size-4 has-text-weight-bold has-text-primary has-text-centered">Why Trust Us?</h4>
                <span class="px-2 ml-5 mb-3 has-text-dark">
                  <li>24 hour customer Service - Toll free</li>
                  <li>23 years of outstanding service</li>
                  <li>Family owned & operated in the U.S.</li>
                  <li>Guaranteed quality & delivery times </li>
                  <li>Personal information is kept confidential</li>
                  </span>
              </div>
            </div>
            <div class="column is-4 mb-4">
              <div class="box p-6 has-background-success" style="height: 100%">
                <h4 class="is-size-4 has-text-weight-bold has-text-centered has-text-primary">Why NOT Trust Them?</h4>
                <span class="px-2 ml-5 mb-3 has-text-dark">
                  <li>Plagiarism! Don't risk it!</li>
                  <li>Many sites are foreign owned</li>
                  <li>Your credit card is NOT protected on foreign sites</li>
                  <li>Know who you are ordering from!</li> 
                </span>
              </div>
            </div>
            <div class="column is-4 mb-4">
              <div class="box p-6 has-background-success" style="height: 100%">
                <h4 class="is-size-4 has-text-weight-bold has-text-centered has-text-primary">How to Place Your Order</h4>
                <span class="px-2 ml-5 mb-3 has-text-dark">
                  <li>Fill out the order form</li>
                  <li>We will call you within 12 hours </li>
                  <li>An e-mail confirmation will come shortly there after</li>
                  <li>Your project will be sent by 11:59PM PST on the date that YOU specify</li>
                </span>
                <div>
                  <p class="mb-3 has-text-dark has-text-weight-bold">It's That Easy!</p>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>

 
      </section>
      
        
      <footer class="section has-background-info">
        <div class="container pb-5 has-text-centered">
          <a class="mx-auto mb-4 is-inline-block" href="#">
            <img class="image" src="{% static 'images/modeltermpaper-logo.svg' %}" alt="ModelTermPapers.com" width="250px" height="250px">
          </a>
        </div>
        <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
        <div class="container">
          <p class="has-text-centered has-text-white">All Rights Reserved © ModelTermPapers.com - E World Publishing</p>
        </div>
      </footer> 
      
    </div>
  </body>
</html>