{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Term Paper Prices for ModelTermPapers.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ModelTermPapers.com term paper prices are $23.95 per page for Undergraduate writing and $30.95 per page for graduate level writing.">  
    <link rel="stylesheet" href="{% static 'css/bulma/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/pricebox.css' %}"> 
    <link rel="icon" href="{% static 'favicon.ico' %}">  	
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body> 
        
    <section class="hero price-cover is-small">
      <div class="is-relative">
        <nav class="navbar px-3 py-4" style="background-color: transparent;">
          <div class="navbar-brand">
            <a class="navbar-item is-hidden-touch" href="#">
              <img class="image is-fullheight" src="{% static 'images/modeltermpaper-logo.svg' %}" alt="ModelTermPapers Logo" width="180px" height="200px">
            </a>
            <a class="navbar-item is-hidden-desktop" href="#">
              <img class="image" src="{% static 'images/modeltermpaper-logo.svg' %}" alt="ModelTermPapers Logo" width="180px" height="200px">
            </a>
            <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end"><a class="navbar-item" href="#">About</a><a class="navbar-item" href="#">Services</a><a class="navbar-item" href="#">Guarantees</a><a class="navbar-item" href="#">Term Papers</a><a class="navbar-item" href="#">Prices</a></div>
            <div class="navbar-item"><a class="button is-danger" href="#">Order</a></div>
          </div>
        </div>
        </nav> 
        <div class="hero-body">
        <div class="container mb-6"> 
            <div class="columns is-centered">
              <div class="column glass-box2 is-6 has-text-centered"> 
              <div class="header-text px-2">
                <h2 class="has-text-white p-4 is-size-3-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold">Need Custom Term Paper Writing Services?</h2>
                <p class="has-text-grey-lighter">Take the stress out of your project! Allow our writers to provide a custom term paper for you today!</p>
                <div class="buttons is-centered p-5"><a class="button is-info" href="#">Order Paper Now!</a></div> 
              </div>
              </div> 
              </div> 
          </div> 
          </div>     
        
    <section class="section extrabody is-medium">
      <div class="container">
        <div class="is-vcentered columns pb-6 is-multiline">
          <div class="column is-5">
            <h2 class="has-text-dark mb-4 is-size-1-desktop is-size-4-mobile is-size-3-tablet has-text-weight-bold">Undergraduate Term Paper, Essay and Book Report Services...</h2>
            <p class="mt-2 pb-2 has-text-warning has-text-weight-bold">Freshman and Sophomore level writing is unique. Our undergraduate term paper writing services include:</p>
                <span class="has-text-grey-lighter pl-6">
                  <li>Simple-straightforward language</li>
                  <li>Relevant and recent source material</li>
                  <li>MLA, APA or Chicago/Turbian citation style</li>
                  <li>Written at English 101 level</li>
                  <li>Appriate for ESL or non-native english speaking students</li>
                  <li>Free term paper bibliography</li>
                </span>
          </div>
          <div class="column pb-6 is-6 ml-auto">
            <div class="top">
              <h1 class="header-text p-4 is-size-3-desktop is-size-3-mobile is-size-4-tablet has-text-weight-bold">Term Paper Prices</h1> 
              <div class="toggle-btn">
                <span class="has-text-grey-lighter" style="margin: 0.8em;">Standard</span>
                <label class="switch">
                  <input type="checkbox" id="checbox" onclick="check()" ; />
                  <span class="slider round"></span>
                </label>
                <span class="has-text-grey-lighter" style="margin: 0.8em;">RUSH</span>
              
            </div>
            <span class="small-red">(Due within the next 4 days)</span>
            </div>
        
            <div class="package-container">
              <div class="packages has-background-dark">
                <h1>Rates</h1>
                <h2 class="text1">&dollar;30.95 <span class="small">per page</span></h2>
                <h2 class="text2">&dollar;23.95	<span class="small">per page</span></h2>
          
                <ul class="list">
                  <li class="first">Custom Written</li>
                  <li>Free Plagiarism Check</li>
                  <li>Free Reference Page</li>
                  <li>24/7 Support</li>
                </ul>
                <div class="buttons is-centered mt-4 p-3"><a class="button is-warning is-outlined is-medium" href="#">Order Now</a></div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </section>
       
      
    <section class="wave-container">
      <div class="wave"></div>
    </section> 


    <section class="has-background-primary pt-6">
      <div class="section pb-2 mb-5 mt-6">
        <div class="container is-relative">
          <div class="columns is-multiline">
            <div class="column is-4 mb-4">
              <div class="box p-6 has-background-success" style="height: 100%">
                <h4 class="is-size-4 has-text-weight-bold has-text-primary has-text-centered">Format of Projects</h4>
              <p class="mt-2 pb-2 has-text-info">Since our pricing is based upon the number of pages you order, the format of each project must be the same. All term papers formatted as follows:</p>
              <span class="px-2 ml-5 mb-3 has-text-dark">
                <li>Double Spaced</li>
                <li>1" margins all around</li>
                <li>Courier New Font</li>
                <li>Written in Microsoft Word</li>
                <li>Sent as an attached file via e-mail</li>
                </span>
              </div>
            </div>
            <div class="column is-4 mb-4">
              <div class="box p-6 has-background-success" style="height: 100%">
                <h4 class="is-size-4 has-text-weight-bold has-text-centered has-text-primary">Types of Projects</h4>
              <p class="mt-2 pb-2 has-text-info">We offer virtually any type of term paper, essay or book report.</p>
              <span class="px-2 ml-5 mb-3 has-text-dark">
                <li>English 101 papers</li>
                <li>Argument essays</li>
                <li>Persuasive essays</li>
                <li>Biographies</li>
                <li>And much, much more...</li> 
              </span>
              </div>
            </div>
            <div class="column is-4 mb-4">
              <div class="box p-6 has-background-success" style="height: 100%">
                <h4 class="is-size-4 has-text-weight-bold has-text-centered has-text-primary">Simple Payment Methods</h4>
              <div><p class="mt-2 pb-2 has-text-dark has-text-weight-bold">ModelTermPapers.com takes all major credit cards, Western Union and Money Order.</p></div> 
              <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                <figure class="image is-256x256 p-5">
                  <img class="is-square" src="{% static 'images/payment-options.jpg' %}">
                </figure> 
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 

      <!-------- footer ---------->
        
      <footer class="section has-background-info">
        <div class="container pb-5 has-text-centered">
          <a class="mx-auto mb-4 is-inline-block" href="#">
            <img class="image" src="{% static 'images/modeltermpaper-logo.svg' %}" alt="ModelTermPapers.com" width="250px" height="250px">
          </a>
        </div>
        <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
        <div class="container">
          <p class="has-text-centered has-text-white">All Rights Reserved © ModelTermPapers.com - E World Publishing</p>
        </div>
      </footer> 



<!----JavaScript for pricing menu---->
  <script>
 function check() {
var checkBox = document.getElementById("checbox");
var text1 = document.getElementsByClassName("text1");
var text2 = document.getElementsByClassName("text2");

for (var i = 0; i < text1.length; i++) {
  if (checkBox.checked == true) {
    text1[i].style.display = "block";
    text2[i].style.display = "none";
  } else if (checkBox.checked == false) {
    text1[i].style.display = "none";
    text2[i].style.display = "block";
  }
}
}
check();
</script>



  </body>
</html>
