{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Custom Written Research Papers by Paper Masters</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/bulma/bulma.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="icon" href="favicon.ico">
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  </head>
  <body> 
        
      <nav class="navbar is-fixed-top py-4 pr-6 pl-6">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="bulma-plain-assets/logos/PMlogo-white.svg" alt="" width="96px">
          </a>
          <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span> 
            <span aria-hidden="true"></span> 
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end"><a class="navbar-item" href="#">Home</a><a class="navbar-item" href="#">Services</a><a class="navbar-item" href="#">Prices</a><a class="navbar-item" href="#">Subjects</a></div>
          <div class="navbar-item"><a class="button is-warning has-text-weight-bold mr-1" href="#">Order</a></div>
          <div class="field has-addons">
            <div class="control mt-2 pl-2">
              <input class="input" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="control mt-2 pr-2">
              <button class="button" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
              </button>
            </div>
          </div> 
        </div>
      </nav>
        
      <section class="section is-medium mt-6" style="background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('https://images.pexels.com/photos/1187974/pexels-photo-1187974.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260'); background-repeat: no-repeat; background-size: cover;">
      
        <div class="container mt-6">
          <div class="mb-5 is-vcentered columns is-multiline is-justify-content-space-evenly">
            <div class="column is-12 is-5-desktop">
              <div class="doubleBorder mb-4 p-6 has-text-centered">
                <h1 class="mb-5 is-size-3 is-size-3-mobile has-text-weight-bold has-text-success">Custom Written Research Papers</h1>
                <p class="is-size-6 has-text-light mb-5">Paper Masters - The Premium Custom Research Paper Company. Have our writers write your project - perfect every time!</p>
                <div class="buttons is-centered mb-1 p-4"><a class="button is-warning has-text-black" href="#">Yes! Write My Paper!</a></div>
              </div>
            </div>
            <div class="column is-12 is-6-desktop is-hidden-touch">
              <img class="image is-fullwidth p-4" src="https://images.pexels.com/photos/6141084/pexels-photo-6141084.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260" alt="">
      
            </div>
          </div>
        </div>
      </section>
        
      <section class="section blended-background is-small">
      
        <div class="container is-relative is-fullhd">
          <div class="columns is-multiline is-centered">
            <div class="column is-8 mb-6 has-text-centered">
              <h2 class="has-text-light mb-4 is-size-1-desktop is-size-4-mobile is-size-2-tablet has-text-weight-bold">Writing Levels We Offer</h2>
              <p class="subtitle has-text-primary mb-4">We custom write research papers for college students</p>
            </div>
          </div>
          <div class="columns is-multiline">
            <div class="column is-4 mb-2" data-aos="fade-right">
              <div class="box p-5 has-background-danger has-text-centered" style="height: 100%">
                <span class="mb-3 is-inline-block">
                  <img class="mx-auto image is-fullwidth" style="width: 50px;height: 50px" src="bulma-plain-assets/images/graduate-cap.svg" alt="undergraduate cap">
                </span>
                <h4 class="is-size-3 is-size-5-tablet has-text-weight-bold has-text-warning">Undergraduate</h4>
                <p class="has-text-light">Undergraduate projects written on any topic...from English essays to Nursing theory. No subject is too difficult.</p>
              </div>
            </div>
            <div class="column is-4 mb-2" data-aos="zoom-in">
              <div class="box p-5 has-background-danger has-text-centered">
                <span class="mb-3 is-inline-block">
                  <img class="mx-auto image is-fullwidth" style="width: 50px;height: 50px" src="bulma-plain-assets/images/graduate-cap.svg" alt="graduate cap">
                  </svg>
                </span>
                <h4 class="is-size-3 is-size-5-tablet has-text-weight-bold has-text-warning">Graduate</h4>
                <p class="has-text-light">Graduate level projects for advanced students who need academic writing with peer reviewed sources, recent research, and exceptionally accurate citation.</p>
              </div>
            </div>
            <div class="column is-4 mb-2" data-aos="fade-left">
              <div class="box p-5 has-background-danger is-covered has-text-centered" style="height: 100%">
                <span class="mb-3 is-inline-block">
                  <img class="mx-auto image is-fullwidth" style="width: 50px;height: 50px" src="bulma-plain-assets/images/graduate-cap.svg" alt="masters cap">
                </span>
                <h4 class="is-size-3 is-size-5-tablet has-text-weight-bold has-text-warning">Post Grad/Masters</h4>
                <p class="has-text-light">For the student whose research is setting the standard for excellence. Dissertations, prospectus', capstone projects and publishable studies.</p>
              </div>
            </div>
          </div> 
        </div>
      </section>
        
      <section class="section is-small diagonal-split-background">
        <div class="container is-widescreen m-auto p-4 mb-6">
          <div class="columns is-multiline is-align-items-center p-2">
            <div class="column is-5-tablet p-4 mb-2 is-hidden-mobile" data-aos="fade-right"> 
              <img class="image is-fullwidth" src="https://images.pexels.com/photos/5474285/pexels-photo-5474285.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
            </div>
            <div class="column is-6-tablet is-6-desktop is-size-6-mobile is-offset-1-desktop" data-aos="fade-left">
              <div class="doubleBorder p-6 m-auto"> 
                <h2 class="is-size-3 has-text-weight-bold has-text-centered has-text-success">We Are Here To Help</h2> 
                <p class="is-size-6 has-text-light mt-4">Custom writing that gets results and customer service that you can count on.
                  Paper Masters has been the premium custom research paper company for over 25 years. </p>
                <div class="content" style="text-align: center;">
                  <ul>
                    <li>EXPERT WRITERS</li>
                    <li>RECENT RESEARCH</li>
                    <li>24/7 CUSTOMER SERVICE</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="container is-widescreen m-auto p-2 mt-6">
          <div class="columns is-multiline is-vcentered p-2 mt-4">
            <div class="column is-6-tablet is-6-desktop is-size-6-mobile" data-aos="fade-right">
              <div class="doubleBorder p-6 m-auto"> 
                <h2 class="is-size-3 has-text-weight-bold has-text-centered has-text-success">We Are Here To Help</h2> 
                <p class="is-size-6 has-text-light mt-4">Custom writing that gets results and customer service that you can count on.
                  Paper Masters has been the premium custom research paper company for over 25 years. </p>
                <div class="content" style="text-align: center;">
                  <ul>
                    <li>EXPERT WRITERS</li>
                    <li>RECENT RESEARCH</li>
                    <li>24/7 CUSTOMER SERVICE</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="column is-5-tablet is-offset-1-desktop p-4 mt-6" data-aos="fade-left">
              <img class="image is-fullwidth" src="https://images.pexels.com/photos/7944035/pexels-photo-7944035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            </div> 
          </div>
        </div>  
      </section>
        
      <section class="section diagonal-split-background-rev is-small">
        <div class="container is-fullwidth"> 
          <div class="columns is-multiline is-centered">
            <div class="column is-8 mb-6 m-auto has-text-centered">
              <h2 class="has-text-light mt-2 mb-3 p-2 is-size-1-desktop is-size-4-mobile is-size-2-tablet has-text-weight-bold">Professional Writing and Research Services for Students</h2> 
            </div>
          </div>
          <div class="container is-fullwidth"> 
            <div class="columns is-multiline is-justify-content-center is-justify-content-space-evenly">
              <div class="column box has-background-info is-3 has-text-centered mb-4" data-aos="fade-up">
                <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                  <figure class="image is-128x128 pt-4">
                    <img class="is-rounded" src="https://images.pexels.com/photos/7793740/pexels-photo-7793740.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
                  </figure> 
                </span>
                <h5 class="is-size-5 mb-2 pt-4 has-text-weight-bold has-text-warning">Our Writing Services</h5>
                <p class="has-text-light mx-auto is-size-6">Our writers can write any project you need. Research papers, discussion posts, PowerPoint projects, and more. <a href="research-paper-services.html">Learn more about research writing...</a></p>
              </div>
              <div class="column box has-background-info is-3 has-text-centered mb-4" data-aos="fade-up">
                <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                  <figure class="image is-128x128 pt-4">
                    <img class="is-rounded" src="https://images.pexels.com/photos/8199629/pexels-photo-8199629.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                  </figure> 
                </span>
                <h5 class="is-size-5 mb-2 pt-4 has-text-weight-bold has-text-warning">Any Type of Paper</h5>
                <p class="has-text-light mx-auto is-size-6">Professionals write any type of paper you need. Case studies, admissions essays, discussion posts and so much more.<a href="types_of_research_papers.html"> Learn about types of research projects...</a></p>
              </div>
              <div class="column box has-background-info is-3 has-text-centered mb-4" data-aos="fade-up">
                <span class="mx-auto mb-4 is-flex is-justify-content-center is-align-items-center">
                  <figure class="image is-128x128 pt-4">
                    <img class="is-rounded" src="https://images.pexels.com/photos/8199679/pexels-photo-8199679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                  </figure> 
                </span>
                <h5 class="is-size-5 mb-2 pt-4 has-text-weight-bold has-text-warning">Any Subject or Topic</h5>
                <p class="has-text-light mx-auto is-size-6">Since all our projects are custom written, you can have our writers write on any subject or topic you need. <a href="research-paper-topics.html">List of topics to choose from here...</a></p>
      
              </div>
            </div>
          </div>
        </div>
      </section>
        
      <section class="section blended-background-two is-medium">
        <div class="container">
          <div class="mb-6 columns is-multiline is-centered">
            <div class="column is-8 has-text-centered" data-aos="zoom-right"> 
              <h2 class="mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">What Our Clients Say</h2>
              <p class="subtitle has-text-warning">Don't take Our Word for it!</p>
            </div>
          </div>
          <div class="is-vcentered columns is-multiline">
            <div class="column is-6 is-4-desktop mb-4" data-aos="fade-right">
              <div class="box has-background-primary has-background-light">
                <p class="subtitle has-text-light mb-5">I work full time and i just can't do it all. Having Paper Masters help me with my discussion posts saved me from having to redo my last class for my Nursing Degree.</p>
                <img class="mb-3 image is-fullwidth" src="https://images.generated.photos/-54Pp9dsdvBJH0E-HACQ2YTINeQ4ik9oVF1WaSZFdw0/rs:fit:512:512/wm:0.95:sowe:18:18:0.33/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LmNvbmQvYTVjNzIw/YzYtMTkwZC00OTA2/LWJhMmEtNWU4MzJk/ODUyNDM0LmpwZw.jpg" alt="" style="width: 48px;height: 48px">
                <h4 class="mb-2 is-size-5 has-text-weight-bold">LaShonda P.</h4>
                <p class="has-text-grey-lighter">Paper Masters Customer</p>
              </div>
            </div>
            <div class="column is-6 is-4-desktop mb-4" data-aos="zoom-in">
              <div class="box has-background-primary has-background-light">
                <p class="subtitle has-text-light mb-5">I work full time and i just can't do it all. Having Paper Masters help me with my discussion posts saved me from having to redo my last class for my Nursing Degree.</p>
                <img class="mb-3 image is-fullwidth" src="https://images.generated.photos/-54Pp9dsdvBJH0E-HACQ2YTINeQ4ik9oVF1WaSZFdw0/rs:fit:512:512/wm:0.95:sowe:18:18:0.33/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LmNvbmQvYTVjNzIw/YzYtMTkwZC00OTA2/LWJhMmEtNWU4MzJk/ODUyNDM0LmpwZw.jpg" alt="" style="width: 48px;height: 48px">
                <h4 class="mb-2 is-size-5 has-text-weight-bold">LaShonda P.</h4>
                <p class="has-text-grey-lighter">Paper Masters Customer</p>
              </div>
            </div>
            <div class="column is-6 is-4-desktop mb-4" data-aos="fade-left">
              <div class="box has-background-primary has-background-light">
                <p class="subtitle has-text-light mb-5">I work full time and i just can't do it all. Having Paper Masters help me with my discussion posts saved me from having to redo my last class for my Nursing Degree.</p>
                <img class="mb-3 image is-fullwidth" src="https://images.generated.photos/-54Pp9dsdvBJH0E-HACQ2YTINeQ4ik9oVF1WaSZFdw0/rs:fit:512:512/wm:0.95:sowe:18:18:0.33/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LmNvbmQvYTVjNzIw/YzYtMTkwZC00OTA2/LWJhMmEtNWU4MzJk/ODUyNDM0LmpwZw.jpg" alt="" style="width: 48px;height: 48px">
                <h4 class="mb-2 is-size-5 has-text-weight-bold">LaShonda P.</h4>
                <p class="has-text-grey-lighter">Paper Masters Customer</p>
              </div>
            </div> 
          </div>
        </div>
      </section>


        
      <section class="section is-medium" style="background-image: linear-gradient(to top,rgba(7,20,37,.9) 0,rgba(7,20,37,.01) 100%), linear-gradient(to bottom,rgba(7,20,37,.9) 0,rgba(7,20,37,.01) 100%), url('https://images.pexels.com/photos/220357/pexels-photo-220357.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260'); background-repeat: no-repeat; background-size: cover;">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-11 glassLight mx-auto has-text-centered" data-aos="zoom-in"> 
              <div class="columns is-centered">
                <div class="column is-two-thirds has-text-centered"> 
                  <h2 class="mt-2 mb-4 is-size-3 is-size-3-mobile has-text-weight-bold has-text-success">Get Help With Your Research Projects - Custom Written and Guaranteed</h2>
                  <div class="buttons is-centered mb-4 p-5"><a class="button is-warning is-medium has-text-weight-bold has-text-black-bis" href="#">Order Here</a>
                  </div> 
                </div>
              </div>
            </div>  
          </div>
        </div>
      </section>
        
      <footer class="section is-small">
        <div class="container">
          <div class="columns is-multiline" style="border-bottom: 1px solid #dee2e6;">
            <div class="column is-4 mb-5 has-text-light has-text-centered"> 
              <a class="mx-auto mb-4 is-inline-block" href="#">
                <img class="image" src="bulma-plain-assets/logos/plainb-logo.svg" alt="" width="96px">
              </a> 
              <div>
                <p>Paper Masters</p>
                <p>Main address: Hunlock Creek, PA 18621</p>
                <p>Tel:(570)955-1438</p>
                <p>eworld@papermasters.com</p>
              </div>
              <div>
                <a class="mr-3 is-inline-block" href="#">
                  <img class="mx-auto image is-fullwidth" src="bulma-plain-assets/socials/facebook.svg">
                </a> 
                <a class="mr-3 is-inline-block" href="#">
                  <img class="mx-auto image is-fullwidth" src="bulma-plain-assets/socials/instagram.svg">
                </a>
                <a class="mr-3 is-inline-block" href="#">
                  <img class="mx-auto image is-fullwidth" src="bulma-plain-assets/socials/linkedin.svg">
                </a>
                <a class="is-inline-block" href="#">
                  <img class="mx-auto image is-fullwidth" src="bulma-plain-assets/socials/twitter.svg">
                </a>
              </div>
            </div>
            <div class="column is-8">
              <div class="columns is-multiline">
                <div class="column is-6 is-3-desktop mb-5">
                  <h4 class="is-size-4 has-text-weight-bold mb-4 has-text-grey">Company</h4>
                  <ul>
                    <li class="footlink"><a href="#">About Us</a></li>
                    <li class="footlink"><a href="#">FaQ</a></li>
                    <li class="footlink"><a href="#">Contact</a></li>
                    <li class="footlink"><a href="#">Writing Opp</a></li>
                  </ul>
                </div>
                <div class="column is-6 is-3-desktop mb-5">
                  <h4 class="is-size-4 has-text-weight-bold mb-4 has-text-grey">Resources</h4>
                  <ul>
                    <li class="footlink"><a href="#">Services</a></li>
                    <li class="footlink"><a href="#">Project Format</a></li>
                    <li class="footlink"><a href="#">Citation</a></li>
                    <li class="footlink"><a href="#">Types of Papers</a></li>
                    <li class="footlink"><a href="#">Types of Research</a></li>
                    <li class="footlink"><a href="#">Scholarly Soucres</a></li>
                    <li class="footlink"><a href="#">Elements of a Paper</a></li>
                  </ul>
                </div>
                <div class="column is-6 is-3-desktop mb-5">
                  <h4 class="is-size-4 has-text-weight-bold mb-4 has-text-grey">Legal</h4>
                  <ul>
                    <li class="footlink"><a href="#">Terms</a></li>
                    <li class="footlink"><a href="#">Garauntees</a></li>
                    <li class="footlink"><a href="#">Privacy</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-5 has-text-centered has-text-grey">
            <p>Paper Masters is a custom research paper writing service. Operating for over 20 years, Paper Masters has established itself as the premier custom research paper company on the Internet. Paper Masters is a division of E World Publishing.</p>
          </div>
          <div class="pt-5 has-text-centered">
            <p>Paper Masters - E World Publishing © 2022</p>
          </div>
        </div>
      </footer> 
      
      <script>
        AOS.init({
    duration: 1200,
  })
      </script>
  </body>
</html>