<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/bulma/bulma.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="favicon.ico">
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="">
        
      <nav class="navbar is-fixed-top py-4 pr-6 pl-6">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img class="image" src="bulma-plain-assets/logos/plainb-logo.svg" alt="" width="96px">
          </a>
          <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span> 
            <span aria-hidden="true"></span> 
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end"><a class="navbar-item" href="#">Home</a><a class="navbar-item" href="#">Services</a><a class="navbar-item" href="#">Prices</a><a class="navbar-item" href="#">Subjects</a></div>
          <div class="navbar-item"><a class="button is-warning has-text-weight-bold mr-1" href="#">Order</a></div>
          <div class="field has-addons">
            <div class="control mt-2 pl-2">
              <input class="input" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="control mt-2 pr-2">
              <button class="button" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
              </button>
            </div>
          </div> 
        </div>
      </nav>
        
      <section class="section is-medium mt-6">
        <div class="container">
          <div class="columns is-multiline is-centered">
            <div class="column is-8 has-text-centered"> 
              <h2 class="mt-2 mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">Secure, Confidential and Quick</h2>
              <p class="subtitle has-text-grey mb-5">
                Fill out the order form below.
                New customers receive a call within 12 hours to confirm pricing and your order information. Note... New customers are NEVER charged before we call you to confirm the price and your information.
                Receive your project in e-mail on the date you specify below. It's that simple!
      
                If you have ANY trouble filling out the order form below, please call us at 1-570-955-1438. </p>
            </div>
          </div>
        </div>
      </section>
        
      <section>
        <section> 
          <div class="container mt-5">
            <div class="box">
              <label class="label" for="">Level *</label>
              <div class="control">
                <div class="select">
                  <select name="field-name">
                    <option></option>
                    <option>Under Graduate</option>
                    <option>Graduate</option>
                    <option>Post-Graduate</option> 
                  </select>
                </div>
                <div class="mt-2"><em>Your level in college/university</em></div>
              </div>
      
              <div class="field">
                <label class="label" for="">Project (Specific Type) *</label>
                <div class="control">
                  <div class="select">
                    <select name="field-name">
                      <option></option>
                      <option>Research Paper</option>
                      <option>Essay</option>
                      <option>Discussion Post</option> 
                      <option>Article Review</option>
                      <option>Book Review</option>
                      <option>Case Study</option>
                      <option>Capstone</option>
                      <option>Dissertation</option>
                      <option>Proposal</option>
                      <option>Thesis</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
                <div class="mt-2"><em>Your best guess is fine!</em></div>
              </div>
              <div class="field">
                <label class="label" for="">Class *</label>
                <div class="control">
                  <input class="input" type="text" name="field-name" placeholder="Your Class">
                </div>
                <div class="mt-2"><em>English 101, Nursing 360, etc...</em></div>
              </div>
              <div class="field">
                <label class="label" for="">Format *</label>
                <div class="control">
                  <div class="select">
                    <select name="field-name">
                      <option></option>
                      <option>APA</option>
                      <option>MLA</option>
                      <option>Chicago (Footnotes)</option>
                      <option>Chicago (No Footnotes)</option>
                      <option>Turabian</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
                <div class="mt-2"><em>Citation Style of Your Project</em></div>
              </div>
              <div class="field">
                <label class="label" for="">Sources *</label>
                <div class="control">
                  <input class="input" type="text" name="field-name" placeholder="How many journal articles, books, etc. to use">
                </div>
              </div>
      
              <div class="field">
                <label class="label" for="">Delivery Date *</label>
                <div class="control">
                  <input class="input" type="text" name="field-name" placeholder="The date you want your project from us">
                </div>
                <div class="mt-2"><em>The date you want your project from us.</em></div>
              </div>
              <div class="field">
                <label class="label" for="">Topic *</label>
                <div class="control">
                  <input class="input" type="text" name="field-name" placeholder="Breif title, based on the topic of the project">
                </div>
                <div class="mt-2"><em>Breif title, based on the topic of the project.</em></div>
              </div>
              <div class="field">
                <label class="label" for="">Description *</label>
                <div class="control"><textarea class="textarea" name="field-name" rows="3" placeholder="Paper project specifications..."></textarea></div>
                <div class="mt-2"><em>This is an infinate field. Please give detailed instructions for your projects.</em></div>
              </div>
              <div class="mt-5 mb-4"> You can upload articles, rubrics, further instructions or any type of information you need our writers to see.</div>
              <div class="field">
                <label class="label" for="">Do you have attachments to Upload? *</label>
                <div class="control">
                  <div class="select">
                    <select name="field-name">
                      <option></option>
                      <option>No</option>
                      <option>Yes</option> 
                    </select>
                  </div>
                </div>
              </div>
              <div class="field mb-4 mt-6">
                <div class="control">
                  <div class="file has-name is-right is-fullwidth">
                    <label class="file-label">
                      <input class="file-input" type="file" placeholder="Choose file..">
                      <span class="file-cta">
                        <span class="file-label">Browse</span>
                      </span>
                      <span class="file-name">Choose file..</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="my-6"><button class="button is-primary" type="next">Next</button></div>
            </div>
          </div>  
        </section>
      
        <section> 
          <div class="container mt-5">
            <div class="box">
              <label class="label" for="">Name *</label>
              <div class="field is-grouped">
                <div class="control">
                  <input class="input" type="text" placeholder="First Name">
                </div>  
                <div class="control">
                  <input class="input" type="text" placeholder="Last Name">
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <label class="label" for="">Email *</label>
                  <input class="input" type="email" placeholder="name@example.com">
                </div>
                <div class="control">
                  <label class="label" for="">Newsleter *</label>
                  <div class="select">
                    <select name="field-name">
                      <option></option>
                      <option>Yes</option>
                      <option>No</option> 
                    </select>
                  </div>
                </div>
                <div class="mt-5">Receive discounts and information on new services and specials.</div>
              </div> 
              <div class="field is-grouped">
                <div class="control">
                  <label class="label" for="">Phone *</label>
                  <input class="input" type="text" placeholder="(***) ***-****">
                </div> 
                <div class="control">
                  <label class="label" for="">Text *</label>
                  <div class="select">
                    <select name="field-name"> 
                      <option></option>
                      <option>Yes</option>
                      <option>No</option> 
                    </select>
                  </div>
                </div> 
              </div>
              <div class="field is-grouped mt-6">
                <div class="control"> 
                  <button class="button is-primary" type="back">Back</button>
                </div>
                <div class="control">
                  <button class="button is-primary" type="next">Next</button>
                </div>
              </div> 
      
      
            </div>
          </div>
        </section> 
      
        <section> 
          <div class="container mt-5">
            <div class="box">
              <div class="title size-is-1 has-text-dark">Payment Information</div>
              <div class="mt-5 mb-5">While Paper Masters requires your payment information, you are never charged until we review your project and assign it to a writer. New customers are not charged until we call you, at the number you provided, and confirm your order directly with you.</div>
              <div class="control">
                <label class="label" for="">Payment *</label>
                <div class="select">
                  <select name="field-name"> 
                    <option></option>
                    <option>Visa</option>
                    <option>Master Card</option>
                    <option>American Express</option>
                    <option>Discover</option>
                    <option>Use Card on File</option>  
                  </select>
                </div>
                <div class="title size-is-1 has-text-dark mt-5 mb-5">Credit Card Information</div>
                <label class="label" for="">Name on Card *</label>
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Card Name">
                  </div>  
                </div>
                <label class="label" for="">CVC *</label>
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="CVC">
                  </div> 
                  <div class="mt-2">Your name, as it appears on your Credit Card.</div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <label class="label" for="">Month *</label>
                    <div class="select">
                      <select name="month">
                        <option></option>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                      </select>
                    </div>
                  </div>
                  <div class="control">
                    <label class="label" for="">Year *</label>
                    <div class="select">
                      <select name="year">
                        <option></option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                        <option>2026</option>
                        <option>2027</option>
                        <option>2028</option>
                        <option>2029</option>
                        <option>2030</option>
                        <option>2031</option>
                        <option>2032</option>
                      </select>
                    </div>
                  </div> 
                </div> 
                <label class="label" for="">Street *</label>
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Street">
                  </div>
                  <div class="mt-2">Address associated with the card.</div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <label class="label" for="">City *</label>
                    <input class="input" type="text" placeholder="City">
                  </div> 
                  <div class="control">
                    <label class="label" for="">State *</label>
                    <div class="select">
                      <select name="state"> 
                        <option></option>
                        <option>AL</option>
                        <option>AK</option>
                        <option>AZ</option>
                        <option>AR</option>
                        <option>CA</option>
                        <option>CZ</option>
                        <option>CO</option>
                        <option>CT</option>
                        <option>DE</option>
                        <option>DC</option>
                        <option>FL</option>
                        <option>GA</option>
                        <option>GU</option>
                        <option>HI</option>
                        <option>ID</option>
                        <option>IL</option>
                        <option>IN</option>
                        <option>IA</option>
                        <option>KS</option>
                        <option>KY</option>
                        <option>LA</option>
                        <option>ME</option>
                        <option>MD</option>
                        <option>MA</option>
                        <option>MI</option>
                        <option>MN</option>
                        <option>MS</option>
                        <option>MO</option>
                        <option>MT</option>
                        <option>NE</option>
                        <option>NV</option>
                        <option>NH</option>
                        <option>NJ</option>
                        <option>NM</option>
                        <option>NY</option>
                        <option>NC</option>
                        <option>ND</option>
                        <option>OH</option>
                        <option>OK</option>
                        <option>OR</option>
                        <option>PA</option>
                        <option>PR</option>
                        <option>RI</option>
                        <option>SC</option>
                        <option>SD</option>
                        <option>TN</option>
                        <option>TX</option>
                        <option>UT</option>
                        <option>VT</option>
                        <option>VI</option>
                        <option>VA</option>
                        <option>WA</option>
                        <option>WV</option>
                        <option>WI</option>
                        <option>WY</option>
                      </select>
                    </div>
                  </div> 
                  <div class="control">
                    <label class="label" for="">Zip/Postal Code *</label>
                    <input class="input" type="text" placeholder="Zip/Postal Code">
                  </div> 
                  <div class="control">
                    <label class="label" for="">Country *</label>
                    <div class="select">
                      <select name="country"> 
                        <option></option>
                        <option>United States</option>
                        <option>United Kingdom</option>
                        <option>Afghanistan</option>
                        <option>Albania</option>
                        <option>Algeria</option>
                        <option>Andorra</option>
                        <option>Angola</option>
                        <option>Antigua and Barbuda</option>
                        <option>Argentina</option>
                        <option>Armenia</option>
                        <option>Australia</option>
                        <option>Austria</option>
                        <option>Azerbaijan</option>
                        <option>Bahamas</option>
                        <option>Bahrain</option>
                        <option>Bangladesh</option>
                        <option>Barbados</option>
                        <option>Belarus</option>
                        <option>Belgium</option>
                        <option>Belize</option>
                        <option>Benin</option>
                        <option>Bhutan</option>
                        <option>Bolivia</option>
                        <option>Bosnia and Herzegovina</option>
                        <option>Botswana</option>
                        <option>Brazil</option>
                        <option>Brunei </option>
                        <option>Bulgaria</option>
                        <option>Burkina Faso</option>
                        <option>Burundi</option>
                        <option>Côte d'Ivoire</option>
                        <option>Cabo Verde</option>
                        <option>Cambodia</option>
                        <option>Cameroon</option>
                        <option>Canada</option>
                        <option>Central African Republic</option>
                        <option>Chad</option>
                        <option>Chile</option>
                        <option>China</option>
                        <option>Colombia</option>
                        <option>Comoros</option>
                        <option>Congo (Congo-Brazzaville)</option>
                        <option>Costa Rica</option>
                        <option>Croatia</option>
                        <option>Cuba</option>
                        <option>Cyprus</option>
                        <option>Czechia (Czech Republic)</option>
                        <option>Democratic Republic of the Congo</option>
                        <option>Denmark</option>
                        <option>Djibouti</option>
                        <option>Dominica</option>
                        <option>Dominican Republic</option>
                        <option>Ecuador</option>
                        <option>Egypt</option>
                        <option>El Salvador</option>
                        <option>Equatorial Guinea</option>
                        <option>Eritrea</option>
                        <option>Estonia</option>
                        <option>Eswatini (fmr. "Swaziland")</option>
                        <option>Ethiopia</option>
                        <option>Fiji</option>
                        <option>Finland</option>
                        <option>France</option>
                        <option>Gabon</option>
                        <option>Gambia</option>
                        <option>Georgia</option>
                        <option>Germany</option>
                        <option>Ghana</option>
                        <option>Greece</option>
                        <option>Grenada</option>
                        <option>Guatemala</option>
                        <option>Guinea</option>
                        <option>Guinea-Bissau</option>
                        <option>Guyana</option>
                        <option>Haiti</option>
                        <option>Holy See</option>
                        <option>Honduras</option>
                        <option>Hungary</option>
                        <option>Iceland</option>
                        <option>India</option>
                        <option>Indonesia</option>
                        <option>Iran</option>
                        <option>Iraq</option>
                        <option>Ireland</option>
                        <option>Israel</option>
                        <option>Italy</option>
                        <option>Jamaica</option>
                        <option>Japan</option>
                        <option>Jordan</option>
                        <option>Kazakhstan</option>
                        <option>Kenya</option>
                        <option>Kiribati</option>
                        <option>Kuwait</option>
                        <option>Kyrgyzstan</option>
                        <option>Laos</option>
                        <option>Latvia</option>
                        <option>Lebanon</option>
                        <option>Lesotho</option>
                        <option>Liberia</option>
                        <option>Libya</option>
                        <option>Liechtenstein</option>
                        <option>Lithuania</option>
                        <option>Luxembourg</option>
                        <option>Madagascar</option>
                        <option>Malawi</option>
                        <option>Malaysia</option>
                        <option>Maldives</option>
                        <option>Mali</option>
                        <option>Malta</option>
                        <option>Marshall Islands</option>
                        <option>Mauritania</option>
                        <option>Mauritius</option>
                        <option>Mexico</option>
                        <option>Micronesia</option>
                        <option>Moldova</option>
                        <option>Monaco</option>
                        <option>Mongolia</option>
                        <option>Montenegro</option>
                        <option>Morocco</option>
                        <option>Mozambique</option>
                        <option>Myanmar (formerly Burma)</option>
                        <option>Namibia</option>
                        <option>Nauru</option>
                        <option>Nepal</option>
                        <option>Netherlands</option>
                        <option>New Zealand</option>
                        <option>Nicaragua</option>
                        <option>Niger</option>
                        <option>Nigeria</option>
                        <option>North Korea</option>
                        <option>North Macedonia</option>
                        <option>Norway</option>
                        <option>Oman</option>
                        <option>Pakistan</option>
                        <option>Palau</option>
                        <option>Palestine State</option>
                        <option>Panama</option>
                        <option>Papua New Guinea</option>
                        <option>Paraguay</option>
                        <option>Peru</option>
                        <option>Philippines</option>
                        <option>Poland</option>
                        <option>Portugal</option>
                        <option>Qatar</option>
                        <option>Romania</option>
                        <option>Russia</option>
                        <option>Rwanda</option>
                        <option>Saint Kitts and Nevis</option>
                        <option>Saint Lucia</option>
                        <option>Saint Vincent and the Grenadines</option>
                        <option>Samoa</option>
                        <option>San Marino</option>
                        <option>Sao Tome and Principe</option>
                        <option>Saudi Arabia</option>
                        <option>Senegal</option>
                        <option>Serbia</option>
                        <option>Seychelles</option>
                        <option>Sierra Leone</option>
                        <option>Singapore</option>
                        <option>Slovakia</option>
                        <option>Slovenia</option>
                        <option>Solomon Islands</option>
                        <option>Somalia</option>
                        <option>South Africa</option>
                        <option>South Korea</option>
                        <option>South Sudan</option>
                        <option>Spain</option>
                        <option>Sri Lanka</option>
                        <option>Sudan</option>
                        <option>Suriname</option>
                        <option>Sweden</option>
                        <option>Switzerland</option>
                        <option>Syria</option>
                        <option>Tajikistan</option>
                        <option>Tanzania</option>
                        <option>Thailand</option>
                        <option>Timor-Leste</option>
                        <option>Togo</option>
                        <option>Tonga</option>
                        <option>Trinidad and Tobago</option>
                        <option>Tunisia</option>
                        <option>Turkey</option>
                        <option>Turkmenistan</option>
                        <option>Tuvalu</option>
                        <option>Uganda</option>
                        <option>Ukraine</option>
                        <option>United Arab Emirates</option>
                        <option>Uruguay</option>
                        <option>Uzbekistan</option>
                        <option>Vanuatu</option>
                        <option>Venezuela</option>
                        <option>Vietnam</option>
                        <option>Yemen</option>
                        <option>Zambia</option>
                        <option>Zimbabwe</option>
                      </select>
                    </div>
                  </div> 
                </div>
                <div class="field">
                  <div class="mt-2">By submitting this form, you are agreeing to the policies of E World Publishing, Inc. and their <a href="https://www.papermasters.com/terms-of-use.html">Terms of Use</a>. </div>
                  <div class="control">
                    <label class="checkbox">
                      <input class="checkbox" type="checkbox" name="terms" value="1">
                      <span>I agree to terms and conditions.</span>
                    </label>
                  </div>
                </div>
                <div class="field is-grouped mt-6">
                  <div class="control"> 
                    <button class="button is-primary" type="back">Back</button>
                  </div>
                  <div class="control">
                    <button class="button is-primary" type="submit">Submit</button>
                  </div>
                </div> 
      
      
              </div>
            </div>
          </div>
        </section> 
      </section>
        
      <footer class="section">
        <div class="container">
          <div class="pb-5 is-flex is-flex-wrap-wrap is-justify-content-between is-align-items-center">
            <div class="mr-auto mb-2">
              <a class="is-inline-block" href="#">
                <img class="image" src="bulma-plain-assets/logos/plainb-logo.svg" alt="" width="96px">
              </a>
            </div>
            <div>
              <ul class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-center">
                <li class="mr-4"><a class="button is-white" href="#">About</a></li>
                <li class="mr-4"><a class="button is-white" href="#">Company</a></li>
                <li class="mr-4"><a class="button is-white" href="#">Services</a></li>
                <li><a class="button is-white" href="#">Testimonials</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
        <div class="container">
          <div class="is-flex-tablet is-justify-content-between is-align-items-center">
            <p>All rights reserved © Wireframes Corporation 2021</p>
            <div class="py-2 is-hidden-tablet"></div>
            <div class="ml-auto">
              <a class="mr-4 is-inline-block" href="#">
                <img src="bulma-plain-assets/socials/facebook.svg" alt="">
              </a>
              <a class="mr-4 is-inline-block" href="#">
                <img src="bulma-plain-assets/socials/twitter.svg" alt="">
              </a>
              <a class="mr-4 is-inline-block" href="#">
                <img src="bulma-plain-assets/socials/github.svg" alt="">
              </a>
              <a class="mr-4 is-inline-block" href="#">
                <img src="bulma-plain-assets/socials/instagram.svg" alt="">
              </a>
              <a class="is-inline-block" href="#">
                <img src="bulma-plain-assets/socials/linkedin.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>