<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Research Paper Prices for Paper Masters</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Paper Masters research paper prices are $23.95 per page for Undergraduate writing and $30.95 per page for graduate level writing. Custom written research every time.">  
    <link rel="stylesheet" href="css/bulma/bulma.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/pricebox.css"> 
    <link rel="icon" href="favicon.ico">  	
    <script src="js/main.js"></script>
  </head>
  <body> 
        
      <nav class="navbar is-fixed-top py-4 pr-6 pl-6">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img class="image" src="bulma-plain-assets/logos/PMlogo-white.svg" alt="" width="96px">
          </a>
          <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span> 
            <span aria-hidden="true"></span> 
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end"><a class="navbar-item" href="#">Home</a><a class="navbar-item" href="#">Services</a><a class="navbar-item" href="#">Prices</a><a class="navbar-item" href="#">Subjects</a></div>
          <div class="navbar-item"><a class="button is-warning has-text-weight-bold mr-1" href="#">Order</a></div>
          <div class="field has-addons">
            <div class="control mt-2 pl-2">
              <input class="input" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="control mt-2 pr-2">
              <button class="button" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" style="width: 24px;height: 24px">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
              </button>
            </div>
          </div> 
        </div>
      </nav>
        
      <section class="section is-small mt-6" style="background-image: linear-gradient(to right,rgba(7,20,37,.98) 0,rgba(7,20,37,.1) 100%), url('https://images.pexels.com/photos/3756345/pexels-photo-3756345.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); background-repeat: no-repeat; background-size: cover;">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-5-desktop is-7-tablet my-2">
              <div class="glassDark px-4 py-3"> 
                <h4 class="mt-3 mb-3 p-4 is-size-4 has-text-dark has-text-weight-bold has-text-centered">Need Help Writing a Paper?</h4>
                <p class="has-text-black-bis mb-5 has-text-centered">Have Paper Masters custom write your project today!</p>
                <div class="has-text-grey-lighter mb-1 ml-6 mb-4">
                  <li>24/7 Customer Support</li>
                  <li>Free Plagiarism Check</li>
                  <li>Writing at Your Level</li>
                  <li>Writers All Have Advanced Degrees</li>
                  <li>Will Follow Specific Instructions</li>  
                </div>
                <p class="has-text-black-bis mb-5 has-text-centered">Have Paper Masters custom write your project today!</p>
                <div class="buttons is-centered mb-4 p-3"><a class="button is-warning is-medium has-text-black" href="#">Yes! Write My Paper!</a></div>
      
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section>
        <div class="container"> 
          <div class="boxbox has-background-white-ter">  
          <div class="columns is-centered m-auto mb-4">
            <div class="column mb-5 is-10"> 
              <h2 class="mt-2 mb-4 is-size-2 is-size-3-mobile has-text-weight-bold has-text-centered">Research Paper Prices</h2>
              <span>
                <p class="has-text-grey"><strong class="has-text-grey">Our prices are higher than many other writing sites because we are a real company</strong> that uses actual professional writers. If you want quality work that is not plagiarized, professional writers need to be compensated. PaperMasters only hires advanced degreed professionals who studied in the United States and English is their first language. Because of this, you can rest assured that you receive quality work.</p>
                <p class="has-text-grey mt-3 mb-5"><strong class="has-text-grey">Custom research paper writing is all we do</strong> at Paper Masters and our prices reflect what it costs to produce a quality, well-written research paper or writing project at the college level. The following prices are reflective of our basic research paper services. Our research service pricing is simply and straight-forward. The price is per page (or per slide for PowerPoint Presentations) for all essays, term papers, power point presentations, and any other academic writing.</p>
              </span>
              
            </div>
            </div>  

            <div class="columns mb-4">
              <div class="column is-6 is-offset-3 mb-2"> 
            <h3 class="is-size-3 p-3 has-text-centered has-text-weight-bold">No Hidden Costs, No surprises! Quality, Custom Written Research!</h3>
          </div>
        </div> 
        
 

          
        <div class="container pb-2 mt-6">
          <div class="top">
            <h1>Custom Writing Prices</h1> 
            <div class="toggle-btn">
              <span style="margin: 0.8em;">Standard Delivery</span>
              <label class="switch">
                <input type="checkbox" id="checbox" onclick="check()" ; />
                <span class="slider round"></span>
              </label>
              <span style="margin: 0.8em;">RUSH Delivery</span>
            
          </div>
          <span class="small-red">(Due within the next 4 days)</span>
          </div>
      
          <div class="package-container">
            <div class="packages">
              <h1>Undergraduate</h1>
              <h2 class="text1">&dollar;30.95 <span class="small">per page</span></h2>
              <h2 class="text2">&dollar;23.95	<span class="small">per page</span></h2>
        
              <ul class="list">
                <li class="first">Custom Written</li>
                <li>Free Plagiarism Check</li>
                <li>Free Reference Page</li>
                <li>24/7 Support</li>
              </ul>
              <div class="buttons is-centered mt-4 p-3"><a class="button is-warning is-outlined is-medium" href="#">Order Now</a></div>
            </div>
            <div class="packages">
              <h1>Graduate</h1>
              <h2 class="text1">&dollar;35.95 <span class="small">per page</span></h2>
              <h2 class="text2">&dollar;30.95 <span class="small">per page</span></h2>
              <ul class="list">
               <li class="first">Custom Written</li>
                <li>Peer-Reviewed Sources</li>
                <li>Advanced Degree Writer</li>
                <li>24/7 Support</li>
              </ul>
              <div class="buttons is-centered mt-4 p-3"><a class="button is-warning is-outlined is-medium" href="#">Order Now</a></div>
            </div>
            <div class="packages">
              <h1>Post-Graduate</h1>
              <h2 class="text1">&dollar;40.95 <span class="small">per page</span></h2>
              <h2 class="text2">&dollar;35.95 <span class="small">per page</span></h2>
              <ul class="list">
                <li class="first">Custom Written</li>
                <li>Peer-Reviewed Sources</li>
                <li>Writer has Doctorate</li>
                <li>24/7 Support</li>
              </ul>
              <div class="buttons is-centered mt-4 p-3"><a class="button is-warning is-outlined is-medium" href="#">Order Now</a></div>
            </div>
          </div>
        </div>

        <!-------- paragraph ---------->
        
        <div class="columns m-auto">
          <div class="column is-8 is-offset-2">
          <p class="p-4 mt-3">Pricing is based upon the following paper format:<strong> Double-spaced, 1&quot; margins, 12 pt. Courier New Font</strong> (Need Times New Roman font? See our <a href="tnr-courier.html">TNR conversion chart here...</a>).
           See a <a href="/sample-format">sample of our format</a> or <a href="/research-paper-format">our format guidelines here...</a></p>
          </div>
          </div>

         <!-------- PP Section ---------->

          <div class="container pb-2 mt-6">
          <div class="top-pp">
            <h1>PowerPoint Pricing</h1>
          </div>
          <div class="package-container">
            <div class="packages-pp">
              <h1>Undergraduate</h1>
              <h2 class="text2">&dollar;23.95	<span class="small">per slide</span></h2>
              <ul class="list">
                <li class="first">Custom Design & Writing</li>
                <li>Unique Graphics</li>
                <li>$30.95 for RUSH</li>
                <li>24/7 Support</li>
              </ul>
              <div class="buttons is-centered mt-4 p-3"><a class="button is-warning is-outlined is-medium" href="#">Order Now</a></div>
            </div>
            <div class="packages-pp">
              <h1>Graduate</h1>
              <h2 class="text2">&dollar;30.95 <span class="small">per slide</span></h2>
              <ul class="list">
               <li class="first">Custom Written</li>
                <li>Peer-Reviewed Sources</li>
                <li>$35.95 for RUSH</li>
                <li>24/7 Support</li>
              </ul>
              <div class="buttons is-centered mt-4 p-3"><a class="button is-warning is-outlined is-medium" href="#">Order Now</a></div>
            </div>
            <div class="packages-pp">
            <h1>Ordered With Paper</h1>
              <h2 class="text2">&dollar;9.95 <span class="small">per slide</span></h2>
              <ul class="list">
                <li class="first">$15.95 Undergrad RUSH</li>
                <li>$15.95 Grad Level</li>
                <li>$20.95 Grad RUSH</li>
                <li>24/7 Support</li>
              </ul>
              <div class="buttons is-centered mt-4 p-3"><a class="button is-warning is-outlined is-medium" href="#">Order Now</a></div>
            </div>
          </div> 	
          </div>
               

           <!-------- paragraph ---------->
                  <div class="columns m-auto">
                    <div class="column is-8 is-offset-2">
                    <p class="p-4 mt-3">Pricing is based upon the following paper format:<strong> Double-spaced, 1&quot; margins, 12 pt. Courier New Font</strong> (Need Times New Roman font? See our <a href="tnr-courier.html">TNR conversion chart here...</a>).
                      See a <a href="/sample-format">sample of our format</a> or <a href="/research-paper-format">our format guidelines here...</a></p>
                      </div>
                      </div>

                      <!-------- 1st Row of Columns ---------->
                      <div class="columns is-full is-multilined mt-5">

                    <div class="column hoverBox-col mx-4 p-4" style="height: 100%">
                      <h3 class="is-size-3 has-text-centered">Types of Papers</h3>
                      <p class="mb-3">Paper Masters does all types of academic writing. If you need it, we write it! Below are just a few types of writing projects we do.</p>
              <ul>
                       <li><a href="custom-research-papers" title="Research Papers">Research Papers</a></li>
                          <li><a href="term-papers" title="Term Papers">Term Papers</a></li>
                        <li><a href="discussion-board" title="Discussion Posts">Discussion Posts</a></li><br>
                <li><i class="fal fa-file-alt"></i><a href="types_of_research_papers" title="Research Paper Help">More Types of Papers...</a></li>
                      </ul> 
                  </div>
                  <div class="column hoverBox-col mx-4 p-4" style="height: 100%">
                      <h3 class="is-size-3 has-text-centered">Levels of Writing</h3>
                      <p class="mb-3">We have writers for all level of projects. Tell us your educational level and our writers will write the project to meet those standards.</p>
              <ul>
                       <li><a href="undergraduate-research-papers" title="Undergraduate">Undergraduate</a></li>
                          <li><a href="graduate-research" title="Graduate Research">Graduate</a></li>
                        <li><a href="problem-statement" title="Problem Statement">Post-Graduate</a></li><br>
                        <li><i class="fal fa-comment-smile"></i><a href="research-paper-testimonials" title="Testimonials">Check out our Testimonials!</a></li>
                      </ul>
                  </div>
                  <div class="column hoverBox-col mx-4 p-4" style="height: 100%">
                      <h3 class="is-size-3 has-text-centered">Our Guarantees</h3>
                      <p class="mb-3">We guarantee every project we produce. You can trust us with your academic writing because we stand behind every paper!</p>
              <ul>
                          <li><a href="research-paper-format" title="Format of Papers">Format of Papers</a></li>
                <li><a href="plagiarism-free-papers" title="Plagiarism Free Papers">Plagiarism Free</a></li>
                 <li><a href="turnitin-research-papers" title="TurnItIn">Passes Any Plagiarism Checker</a></li><br>
                <li><i class="fal fa-clipboard-list-check"></i><a href="research-paper-checklist" title="Checklist">Checklist - Is this legit?</a></li>
                      </ul>
                  </div>
              </div> 
           
          <!-------- 2nd Content section ---------->

            <div class="columns is-centered m-auto mb-4">
              <div class="column is-10 mb-5"> 
                <h2 class="mt-6 mb-4 is-size-2 is-size-3-mobile has-text-weight-bold has-text-centered">Research Service Fee</h2>
                <span>
                  <p class="has-text-grey">A "Research Service Fee" may be assessed for projects that have a low page count and require an intense amount of reading, video viewing, audio listening and/or researching. This is not charged without consulting the customer first. Learn more about why we offer a research service fee. </p>
                </span> 
                <h2 class="mt-6 mb-4 is-size-2 is-size-3-mobile has-text-weight-bold has-text-centered">Common Questions About Our Pricing</h2>
                 
                <span class="tabsesPara">
                  <p><strong>Why are your prices more expensive than other term paper companies? </strong><br>
                     Our prices reflect what it truly costs to hire a writer with a degree to custom write your term paper. 
                     Our writers are educated, conscientious and stand behind their work with the guarantee of quality. 
                     Do you really think a writer with a college degree will research and write a term paper for any less than what we charge? 
                     They will not and cheaper companies either cut and paste from the Internet or send you a pre-written project that has nothing to do with your topic.</p>
                  <p><strong>What is included in the price? </strong><br>
                     Everything! There are no hidden costs. 
                     You receive a complete term paper in your e-mail with <a href="/citation">in-text citations</a>, 
                     correct formatting in whichever academic citation style you choose (MLA, APA, etc...), 
                     recent and up-to-date academic reference material, a bibliography/reference page, and 24 hour customer service by telephone.</strong></p>
                </span>
        
                <h3 class="mt-6 mb-4 is-size-2 is-size-3-mobile has-text-weight-bold has-text-centered">The Benefits of  Our Pricing and Projects</h3>
                <span class="tabsesPara">
                  <p>All our projects are custom written by actual writers with a degree in the field that is related to your research paper topic.</p>
                  <p>We pay our writers the going rate for quality writing and research. Therefore, you receive the best term paper service possible.</p>
                  <p>We provide toll free telephone customer service - 24/7.</p>
                  <p>We Guarantee all projects. You can count on our quality.</p>
                 <p>What if I don't like my paper? If the writer did not follow your guidelines or left something our of the paper that was ordered, we guarantee a rewrite within 24 hours. Since quality of writing and writing style are subjective, we cannot guarantee you will "like" your paper; however, we do guarantee it will be well-written at the 3rd year college level (unless otherwise specified), plagiarism free, academically sound and contain accurate, up-to-date references.</p>
                </span>
              </div>
            </div>  

               <!-------- 2nd Row of Columns ---------->

              <div class="columns is-full is-multilined mt-5 mb-5">

                <div class="column hoverBox-col">
                  <h3 class="is-size-3 has-text-centered">About Your Paper</h3>
                  <p class="mb-3">Paper Masters does all types of academic writing. If you need it, we write it! Below are just a few types of writing projects we do.</p>
          <ul>
            <li><a href="research-paper-format" title="format for paper">Format of Our Papers</a></li>
            <li><a href="sample-format" title="Sample Format">View Sample Format</a></li>
            <li><a href="custom-research-papers" title="Research Papers">Research Papers</a></li>
          </ul> 
              </div>
              <div class="column hoverBox-col mx-4 p-4">
                  <h3 class="is-size-3 has-text-centered">Your Project Done</h3>
                  <p class="mb-3">We have writers for all level of projects. Tell us your educational level and our writers will write the project to meet those standards.</p>
          <ul>
           <li><a href="custom-writing" title="Custom Writing">What is Custom Writing?</a></li>
           <li><a href="ghost-writing-services" title="Ghost Writing">Yes! We do Ghost Writing</a></li>
                   <br>
              <div class="buttons is-centered mb-4 p-3"><a class="button is-warning is-small" href="#">Yes! Write My Paper!</a></div>
                  </ul>
              </div>
              <div class="column hoverBox-col has-text-centered mx-4 p-4">
                  <h3 class="is-size-3">More Information</h3>
          <ul>
            <li><a href="understanding-plagiarism" title="Understanding Plagiarism">What is Plagiarism?</a></li>
            <li><a href="research_paper_help" title="Research Paper Help">Get Research Help</a></li>
            <li><a href="essay-help" title="College Essays">Essay Help</a></li>
          </ul>
              </div>
          </div>
          </div>
          </div>

      </section> 

      <!-------- footer ---------->
        
      <footer class="section">
        <div class="container pb-5 has-text-centered">
          <a class="mx-auto mb-4 is-inline-block" href="#">
            <img class="image" src="bulma-plain-assets/logos/plainb-logo.svg" alt="" width="96px">
          </a>
          <div class="column is-4 is-offset-4 has-text-light has-text-centered mb-4">
            <p>Paper Masters</p>
            <p>Main address: Hunlock Creek, PA 18621</p>
            <p>Tel:(570)955-1438</p>
            <p>eworld@papermasters.com</p>
          </div>
          <div>
            <a class="mr-4 is-inline-block" href="#">
              <img src="bulma-plain-assets/socials/facebook.svg">
            </a>
            <a class="mr-4 is-inline-block" href="#">
              <img src="bulma-plain-assets/socials/twitter.svg">
            </a>
            <a class="mr-4 is-inline-block" href="#">
              <img src="bulma-plain-assets/socials/github.svg">
            </a>
            <a class="mr-4 is-inline-block" href="#">
              <img src="bulma-plain-assets/socials/instagram.svg">
            </a>
            <a class="is-inline-block" href="#">
              <img src="bulma-plain-assets/socials/linkedin.svg">
            </a>
          </div>
        </div>
        <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
        <div class="container">
          <div class="column is-full">
            <p class="has-text-centered has-text-grey">Paper Masters is a custom research paper writing service. Operating for over 20 years, Paper Masters has established itself as the premier custom research paper company on the Internet. Paper Masters is a division of E World Publishing.</p>
          </div>
          <div class="pt-5 has-text-centered">
            <p>Paper Masters - E World Publishing © 2022</p>
          </div>
        </div>
      </footer> 



<!----JavaScript for pricing menu---->
  <script>
 function check() {
var checkBox = document.getElementById("checbox");
var text1 = document.getElementsByClassName("text1");
var text2 = document.getElementsByClassName("text2");

for (var i = 0; i < text1.length; i++) {
  if (checkBox.checked == true) {
    text1[i].style.display = "block";
    text2[i].style.display = "none";
  } else if (checkBox.checked == false) {
    text1[i].style.display = "none";
    text2[i].style.display = "block";
  }
}
}
check();
</script>



  </body>
</html>