
.packages {
  margin: 20px;
  width: 300px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: #1e2321;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);
  flex-wrap: wrap;
  color: #f4f4f4;
}
.packages h1 {
	font-size: 2em;
}
.packages h2 {
	font-size: 1.5em;
}
.packages-pp h1 {
	color:rgb(255, 255, 255);
	font-size: 2em;
}
.packages-pp h2 { 
	font-size: 1.5em;
}
.packages-pp {
  margin: 20px;
  width: 300px; 
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: #036;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);
  flex-wrap: wrap;
  color: #f4f4f4;
}
.small {
	font-size: .75em;
	color: darkgray;
}
.small-red {
	font-size: .75em;
	color: #ff2b2b;
	margin-left:245px;
	margin-top: -15px;
}
.red {
	color: #F50000;
}
.list li {
  font-size: .95em;
  list-style: none;
  border-bottom: 1px solid #f4f4f4;
  padding-inline-start: 0;
  border-width: 1px;
  padding: 10px;
}

.first {
  margin-top: 10px;
  border-top: 1px solid #f4f4f4;
}

.list {
  width: 80%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top h1 {
	font-size: 2.5em;
	color:#fcf7fc;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px #1f017c;
}
.top-pp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-pp h1 {
	font-size: 2.5em;
	color:#036;
	text-shadow: 2px 2px 5px gray;
}

.text1 {
	color: #F50000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e2321;
  -webkit-transition: 0.4s;
  box-shadow: 2px 6px 25px #1e2321;
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px #50bfe6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
	margin:25px 0px;
}
td, th {
 vertical-align:middle;
}
td li {
	text-align: left;
	font-size:.90em;
}


.price-wave {
  position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.price-wave svg {
  position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 108px;
}

.price-wave .shape-fill {
  fill: #a33ec5;
}