/*1359369190,173213487*/

.DOMControl_placeholder{color:#777}
.no_js .DOMControl_placeholder{color:#000}
.fbpdl{color:#000}
.fbpdl .fbpdc{background-color:#fff}
.fbpdl .fbpdf{border-top:1px solid #bdc7d8;background-color:#f2f2f2}
.fbpdd{color:#fff}
.fbpdd .fbpdc{background-color:#101010}
.fbpdd .fbpdf{border-top:1px solid #444;background-color:#333333
}
.fbpdf{text-align:right}
.pluginFluidInputContainer{margin:0 4px}
.pluginFluidInput{height:42px;margin-left:-4px;width:100%}
._5v8{position:absolute;width:100%}
._5v4{width:450px;top:24px}
._5v9{top:23px}
._5va{top:0}
._5vb{top:62px}
._5vc{top:20px}
._5v5 img{margin-top:0}
._5ve{width:100%}
._8m{overflow:hidden}
._8u{margin-top:1px}
._8o, ._8o .img{display:block}
._8r{margin-right:5px;margin-top:-1px}
._8s{margin-right:8px}
._8t{margin-right:10px}
.uiButton{cursor:pointer;display:inline-block;font-size:11px;font-weight:bold;line-height:13px;padding:2px 6px;text-align:center;text-decoration:none;vertical-align:top;white-space:nowrap}
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yo/x/JT4vN1lDFUd.png);background-repeat:no-repeat;background-size:auto;background-position:0 -49px;background-color:#eee;border:1px solid #999;border-bottom-color:#888;box-shadow:0 1px 0 rgba(0, 0, 0, .1)}
.uiButton + .uiButton{margin-left:4px}
.uiButton:hover{text-decoration:none}
.uiButton:active, .uiButtonDepressed{background:#ddd;border-bottom-color:#999;box-shadow:inset 0 1px 1px rgba(0, 0, 0, .2)}
.uiButton .img{margin-top:2px;overflow:hidden;vertical-align:top}
.uiButtonLarge .img{margin-top:4px}
.uiButton .customimg{margin-top:0}
.uiButtonText, .uiButton input{background:none;border:0;color:#333;cursor:pointer;display:-moz-inline-box;display:inline-block;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;font-weight:bold;line-height:13px;margin:0;padding:1px 0 2px;white-space:nowrap}
.uiButton input::-moz-focus-inner{border:0;padding:0}
.uiButtonOverlay, .uiButtonOverlay:hover{background-clip:padding-box;background-color:#fff;background-color:rgba(255, 255, 255, .8);background-image:none;border-color:#a5a5a5;border-color:rgba(0, 0, 0, .35);border-radius:2px}
.uiButtonOverlay:focus, .uiButtonOverlay:active{background-color:#f9fafc;background-color:rgba(249, 250, 252, .9);border-color:#3b5998;border-color:rgba(59, 89, 152, .5)}
form.async_saving .uiButton.uiButtonOverlay, .uiButtonOverlay.uiButtonDisabled, .uiButtonOverlay.uiButtonDisabled:active, .uiButtonOverlay.uiButtonDisabled:focus, .uiButtonOverlay.uiButtonDisabled:hover{background-color:#fff;background-color:rgba(255, 255, 255, .8);border-color:#c8c8c8;border-color:rgba(180, 180, 180, .8)}
.uiButtonOverlay.uiButtonDepressed{background-color:rgba(0, 0, 0, .05)}
.uiButtonSpecial{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yo/x/JT4vN1lDFUd.png);background-repeat:no-repeat;background-size:auto;background-position:0 -98px;background-color:#69a74e;border-color:#3b6e22 #3b6e22 #2c5115}
.uiButtonSpecial:active{background:#609946;border-bottom-color:#3b6e22}
form.async_saving .uiButton.uiButtonSpecial, .uiButtonSpecial.uiButtonDisabled, .uiButtonSpecial.uiButtonDisabled:active, .uiButtonSpecial.uiButtonDisabled:focus, .uiButtonSpecial.uiButtonDisabled:hover{background:#b4d3a7;border-color:#9db791}
.uiButtonConfirm{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yo/x/JT4vN1lDFUd.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;background-color:#5b74a8;border-color:#29447e #29447e #1a356e}
.uiButtonConfirm:active{background:#4f6aa3;border-bottom-color:#29447e}
form.async_saving .uiButton.uiButtonConfirm, .uiButtonConfirm.uiButtonDisabled, .uiButtonConfirm.uiButtonDisabled:active, .uiButtonConfirm.uiButtonDisabled:focus, .uiButtonConfirm.uiButtonDisabled:hover{background:#adbad4;border-color:#94a2bf}
form.async_saving .uiButton.uiButtonSpecial .uiButtonText, form.async_saving .uiButton.uiButtonSpecial input, form.async_saving .uiButton.uiButtonConfirm .uiButtonText, form.async_saving .uiButton.uiButtonConfirm input, .uiButtonSpecial .uiButtonText, .uiButtonSpecial input, .uiButtonSpecial.uiButtonDisabled .uiButtonText, .uiButtonSpecial.uiButtonDisabled input, .uiButtonConfirm .uiButtonText, .uiButtonConfirm input, .uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input{color:#fff}
form.async_saving .uiButton, .uiButtonDisabled, .uiButtonDisabled:active, .uiButtonDisabled:focus, .uiButtonDisabled:hover{background:#f2f2f2;border-color:#c8c8c8;box-shadow:none}
form.async_saving .uiButton .img, .uiButtonDisabled .img{opacity:.5}
form.async_saving .uiButtonText, form.async_saving .uiButton input, .uiButtonDisabled .uiButtonText, .uiButtonDisabled input{color:#b8b8b8}
form.async_saving .uiButton, form.async_saving .uiButtonText, form.async_saving .uiButton input, .uiButtonDepressed, .uiButtonDepressed .uiButtonText, .uiButtonDepressed input, .uiButtonDisabled, .uiButtonDisabled .uiButtonText, .uiButtonDisabled input{cursor:default}
.uiButtonLarge{height:19px}
.uiButtonLarge, .uiButtonLarge .uiButtonText, .uiButtonLarge input{font-size:13px;line-height:16px}
.uiButtonSuppressed{background:none;border-color:transparent;box-shadow:none}
.uiButtonNoText .img{margin-left:-1px;margin-right:-1px}
.android .uiButtonText, .android .uiButton input{padding:3px 0 1px 1px}
.ff4.mac .uiButton, .ff4.mac .uiButtonText, .ff4.mac .uiButton input{line-height:14px}
.ff4.mac .uiButtonLarge, .ff4.mac .uiButtonLarge .uiButtonText, .ff4.mac .uiButtonLarge input{line-height:16px}
.ff4.mac .uiButtonText, .ff4.mac .uiButton input{margin-bottom:-1px}
.ff4.mac .uiButtonLarge .uiButtonText, .ff4.mac .uiButtonLarge input{margin-bottom:0}
.uiCloseButton{cursor:pointer;display:-moz-inline-box;display:inline-block;margin:0;padding:0;zoom:1}
label.uiCloseButton{overflow:hidden}
.uiCloseButton input{cursor:pointer;opacity:0;outline:none;padding:18px}
.uiCloseButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yo/x/4WSewcWboV8.png);background-repeat:no-repeat;height:15px;width:15px}
.uiCloseButtonSmall{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yp/x/ogYrclupeJV.png);height:11px;margin-top:1px;width:11px}
.uiCloseButtonHuge{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yp/x/ubIGOTIgUYc.png)}
.uiCloseButtonDark{background-position:left -16px}
.uiCloseButtonInverted{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y8/x/33RpiRygxAr.png);background-position:left -16px}
.uiCloseButtonGray{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/x/gmSNAxiWQKY.png)}
.uiCloseButton:hover, .uiCloseButton:focus{background-position:left -32px}
.uiCloseButton:active{background-position:left -48px}
.uiCloseButtonSmallDark{background-position:left -12px}
.uiCloseButtonSmallGray{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yC/x/8FA3puZNL-X.png)}
.uiCloseButtonSmallInverted{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yt/x/Vi-KTnbdMKr.png);background-position:left -12px}
.uiCloseButtonSmall:hover, .uiCloseButtonSmall:focus{background-position:left -24px}
.uiCloseButtonSmall:active{background-position:left -36px}
.uiPopover .uiCloseButton{background-clip:padding-box;border:1px solid transparent;margin:0}
.uiPopover.openToggler .uiCloseButton{background-position:left -32px}
.uiPopover.openToggler .uiCloseButtonSmall{background-position:left -24px}
.uiPopover.openToggler .uiCloseButton, .uiPopover.openToggler .uiCloseButton:active, .uiPopover.openToggler .uiCloseButton:focus, .uiPopover.openToggler .uiCloseButton:hover{background-color:#6d84b4;border:1px solid #3b5998;border-bottom-color:#6d84b4;box-shadow:none}
.lfloat{float:left}
.rfloat{float:right}
._42ef{overflow:hidden}
.uiTextareaNoResize{resize:none}
.uiTextareaAutogrow{overflow:hidden}
._s0:only-child{display:block}
._ru{background-position:center 25%}
._4eq0{height:194px;width:194px}
._rv{width:100px;height:100px}
._rw{width:50px;height:50px}
._rx{width:32px;height:32px}
._ry{width:24px;height:24px}
._nnx{height:16px;width:16px}

#bootloader_JaHTW { height: 42px; }